@font-face {
    font-family: FiraCode;
    src: url(fonts/Fira_Code/FiraCode-VariableFont_wght.ttf) format("truetype");
}

@font-face {
    font-family: FiraCodeRegular;
    src: url(fonts/Fira_Code/static/FiraCode-Regular.ttf) format("truetype");
}

@font-face {
    font-family: FireCodeBold;
    src: url(fonts/Fira_Code/static/FiraCode-Bold.ttf) format("truetype");
}

@font-face {
    font-family: FireCodeMedium;
    src: url(fonts/Fira_Code/static/FiraCode-Medium.ttf) format("truetype");
}

@font-face {
    font-family: FireCodeSemiBold;
    src: url(fonts/Fira_Code/static/FiraCode-SemiBold.ttf) format("truetype");
}

body {
    margin: 0;
    padding: 0;
    font-family: FiraCode, monospace;
    transition: 0.5s all;
    background-color: #f8f8f8;
}

::-webkit-scrollbar {
    width: 0;
}

* {
    box-sizing: border-box;
}


.btn-dark-light {

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f8f8f8;
    /* border: 1px solid red; */
    cursor: pointer;
}

body.dark-mode {
    background-color: #ffffff;
    color: #f8f8f8;
}

@font-face {
    font-family: FiraCode;
    src: url(fonts/Fira_Code/FiraCode-VariableFont_wght.ttf) format("truetype");
}

@font-face {
    font-family: FireCodeBold;
    src: url(fonts/Fira_Code/static/FiraCode-Bold.ttf) format("truetype");
}

@font-face {
    font-family: FireCodeMedium;
    src: url(fonts/Fira_Code/static/FiraCode-Medium.ttf) format("truetype");
}

@font-face {
    font-family: FireCodeSemiBold;
    src: url(fonts/Fira_Code/static/FiraCode-SemiBold.ttf) format("truetype");
}

body {
    margin: 0;
    padding: 0;
    font-family: FiraCode, monospace;
    transition: 0.5s all;
}

* {
    box-sizing: border-box;
    user-select: none;
}
img {
    user-select: none;
    pointer-events: none;
}

body.dark-mode {
    background-color: #100F0F;
    color: #f8f8f8;
}

header {
    position: fixed;
    background-color: #100F0F;
    height: auto;
    width: 75%;
    justify-self: center;
    z-index: 9;
}

#HeaderContent {
    height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

#LogoContainer {
    display: flex;
    align-items: center;
    flex: 1;
    /* border:1px solid red ; */
}

#LogoText {
    font-family: FireCodeBold;
}

#NavContainer {
    width: 45%;
    /* border: 1px solid red; */
    display: flex;
}

#NavContainer ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-around;
}

#NavContainer ul li {
    cursor: pointer;
}

#NavContainer a {
    font-family: FireCodeMedium;
    font-size: 16px;
    text-decoration: none;
    color: grey;
}

#NavContainer a:hover {
    color: white;
}

#NavContainer span {
    color: #C778DD;
}

.IdiomaSelector {
    margin-left: 1%;
    color: grey;
    display: flex;
    flex-direction: row;
    /* border: 1px solid blue; */
    position: relative;
}

.IconIdioma {
    width: 20px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-items: center;
    margin-left: 5px;
    height: 20px;
    transition: 0.5s all;
    /* border: 1px solid red; */
}

.IdiomaSelector:hover>.IconIdioma {
    rotate: 180deg;
}

.IdiomaSelector:hover .SelectorIdioma {
    /* animation: Despliegue 0.5s forwards; */
    opacity: 1;
    width: auto;
    height: auto;
    transition: 2s all;
    border: 1px solid white;
}

.SelectorIdioma {
    
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #100F0F;
    display: flex;
    flex-direction: column;
    height: 0px;
    width: 0px;
    opacity: 0;
    align-items: center;
    overflow: hidden;
    transition: 2s all;
}

.SelectorIdioma a {
    padding: 10px;
    color: grey;
    text-decoration: none;
}

.SelectorIdioma a:hover {
    color: white;
}

@keyframes Despliegue {
    from {
        height: 0;
        width: 0;
    }

    to {
        opacity: 1;
        width: auto;
        height: auto;
    }
}

@keyframes Girar {
    from {
        rotate: 0deg;
        color: grey;
    }

    to {
        rotate: 180deg;
        color: white;
    }
}

.Accesibilidad-container {
    position: fixed;
    right: 2%;
    bottom: 10%;
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

.btn-dark-light {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #f7f0f0;
    /* border: 1px solid red; */
    cursor: not-allowed;
    border: none;
}



.dark-light-icon::before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    content: "🌙";
    justify-content: center;
    align-content: center;
    border-radius: 100%;
    border: 1px solid grey;
    /* background-color: rgb(255, 255, 255); */
    width: 100%;

}

.dark-light-icon.dark::before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    content: "☀️";
    justify-content: center;
    align-content: center;
    border-radius: 100%;
    /* border: 1px solid rgb(255, 255, 255); */
    background-color: rgb(31, 31, 31);
    width: 100%;
}

.Media-Container {
    position: fixed;
    display: block;
    justify-items: center;
    top: 0;
    left: 0%;
    width: 5%;
    height: auto;
    z-index: 9;
    /* border: 1px solid red; */
}

.Media-Container .Linea {
    height: 12rem;
    width: 1.5px;
    background-color: #6d6d6d;
}

.Media-item {
    display: flex;
    gap: 9px;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
    /* border: 1px solid red; */
}

.Media-item a {
    display: flex;
    justify-content: center;
}

main {
    /* border: 1px solid red; */
    height: auto;
}

.Hero-Section {
    margin: 12, 5% 12, 5%;
    display: flex;
    position: relative;
    justify-content: center;
    /* border: 1px solid blue; */
    height: 40rem;
}

.Hero {
    display: flex;
    /* border: red 1px solid; */
    margin-left: 12.5%;
    margin-right: 12.5%;
    position: absolute;
    bottom: 10%;
    height: 75%;
}

.Hero-text {
    padding-top: 7%;
    width: 30%;
    flex: 1;
    /* border: 1px solid red; */
}

.Hero-text span {
    color: #C778DD;
}

.Hero-text .Text {

    font-family: FireCodeSemiBold, monospace;
    font-size: 32px;
    /*  border: 1px solid red; */
}

.Hero-text .Text-sub {
    color: #a7a6a6;
    line-height: 25px;
    font-weight: 100;
    font-size: 16px;
}

.Hero-text a {
    transition: 0.5s all;
    border: #C778DD 0.5px solid;
    text-decoration: none;
    color: white;
    padding: 7px 14px;
}

.Hero-text a:hover {
    background-color: #c778dd62;
}

.Hero-image {
    width: 40%;
    flex: 1;
    position: relative;
}

.Hero-image .Person {
    /* border: 1px solid red; */
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    justify-self: center;
}

.Works-Status {
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    align-items: center;
    flex-direction: row;
    /* border: 1px solid red; */
    position: absolute;
    bottom: 4%;
    width: 85%;
    left: 7.5%;
    height: 10%;
    border: 1px solid gray;
}

.Works-Status div {
    background-color: #C778DD;
    width: 15px;
    height: 15px;
    margin-right: 1%;
}

.Works-Status p {
    color: #6d6d6d;
    font-family: FireCodeMedium, monospace;
}

.Works-Status span {
    color: white;
    font-family: FireCodeSemiBold;
}

.Logo-vector {
    position: absolute;
    /* border: 1px solid red; */
    top: 20%;
    left: 5%;
    animation: Animation-2 7s infinite;
    transition: 2s all;
}

.Docs-Vector {
    position: absolute;
    /* border: 1px solid red; */
    right: 5%;
    bottom: 25%;
    transition: 2s all;
    animation: Animation-1 7s infinite;
}

/* .Hero-image:hover  .Docs-Vector {
    transition: 2s;
    bottom: 70%;
    animation: Animation-1 0.5s forwards;
} */

/* .Hero-image:hover  .Logo-vector {
    transition: 2s;
    top: 40%;
    
    animation: Animation-1 0.5s forwards;
} */

@keyframes Animation-1 {
    0% {
        bottom: 25%;
    }

    50% {
        bottom: 80%;
    }
}

@keyframes Animation-2 {
    0% {
        top: 20%;
    }

    50% {
        top: 40%;
    }
}

#Frase-container {
    /* border:1px solid red; */
    display: flex;
    justify-content: center;
    height: 13rem;
    margin: 5%;
}
.Motivation-phrase {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    /* border: 1px solid red; */
    height: 100%;
    width: 58%;
}
.phrase {
    border: 1px solid #aaa9a9;
    display: flex;
    justify-content: center;
    height: 47.8%;
    width: 100%;
    position: relative;
    font-family: FireCodeMedium;
}
.phrase img {
    /* border: 1px springgreen solid ; */
    position: absolute;
    top: -19%;
    left: 2%;
    
}
.phrase p {
    margin: 0;
    font-size: 24px;
    align-self: center;
}
.Autor {
    border: 1px solid #aaa9a9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: none;
    height: 31.5%;
    width: 23%;
    position: relative;
    left: 77%;
}
.Autor img {
    /* border: 1px springgreen solid ; */
    position: absolute;
    top: -19%;
    right: 10%;
}
.Autor p {
    font-family: FiraCodeRegular;
    font-size: 24px;
    margin: 0;
    /* border: 1px solid red; */
    width: 90%;
    height: auto;
}